backend/n8n-data/workflows/create_strategy.json
{
  "name": "Create/Update Strategy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strategy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-post",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "save-strategy"
    },
    {
      "parameters": {
        "jsCode": "// Set status to 'saved' for the strategy\nconst data = $input.first().json.body;\ndata.status = 'saved';\nreturn data;"
      },
      "id": "set-status",
      "name": "Set Status to Saved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "url": "={BACKEND_URL}/api/strategies?filter={{ encodeURIComponent(JSON.stringify({ month: $json.month })) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Webhook').item.json.headers.authorization }}"
            },
            {
              "name": "x-api-key",
              "value": "{X-API-KEY}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-exists",
      "name": "Check if Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.items.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new",
      "name": "If New",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "url": "{BACKEND_URL}/api/strategies",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Webhook').item.json.headers.authorization }}"
            },
            {
              "name": "x-api-key",
              "value": "{X-API-KEY}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Set Status to Saved').item.json) }}",
        "options": {}
      },
      "id": "create-new",
      "name": "Create New",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "url": "={BACKEND_URL}/api/strategies/{{ $json.items[0]._id }}",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Webhook').item.json.headers.authorization }}"
            },
            {
              "name": "x-api-key",
              "value": "{X-API-KEY}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Set Status to Saved').item.json) }}",
        "options": {}
      },
      "id": "update-existing",
      "name": "Update Existing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Status to Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status to Saved": {
      "main": [
        [
          {
            "node": "Check if Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Exists": {
      "main": [
        [
          {
            "node": "If New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New": {
      "main": [
        [
          {
            "node": "Create New",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}