n8n-data/workflows/auto_generate_posts.json
{
  "name": "Auto Generate Posts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-posts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [256, 160],
      "webhookId": "generate-posts-manual"
    },
    {
      "parameters": {
        "url": "={BACKEND_URL}/api/strategies?filter={{ encodeURIComponent(JSON.stringify({ month: $json.body.month })) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers && $json.headers.authorization ? $json.headers.authorization : '' }}"
            },
            {
              "name": "x-api-key",
              "value": "{X-API-KEY}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-strategy-by-month",
      "name": "Get Strategy by Month",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [464, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.items.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "id": "cond-strategy-empty"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-empty",
      "name": "If Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [656, 160]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-not-found",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [864, 32]
    },
    {
      "parameters": {
        "jsCode": "// Extract the strategy from API response\nconst strategy = $json.items && $json.items[0] ? $json.items[0] : null;\nreturn { strategy };"
      },
      "id": "extract-strategy",
      "name": "Extract Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 256]
    },
    {
      "parameters": {
        "jsCode": "// Compute missing scheduled posts for the whole month\nconst strategy = $('Extract Strategy').item.json.strategy;\nif (!strategy) return { postsToGenerate: [], strategy: null };\nconst schedule = strategy.schedule || {};\nconst existingPosts = strategy.posts || [];\nconst monthStr = strategy.month; // expecting YYYY-MM\nconst [year, monthNum] = monthStr.split('-').map(Number);\nconst daysInMonth = new Date(year, monthNum, 0).getDate();\nconst dayMap = { 'Sun': 0, 'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, 'Sat': 6 };\nconst postsToGenerate = [];\n\nfor (let d = 1; d <= daysInMonth; d++) {\n  const date = new Date(year, monthNum - 1, d);\n  const dayOfWeek = date.getDay();\n  Object.keys(schedule).forEach(platformKey => {\n    const cfg = schedule[platformKey];\n    if (!cfg || !cfg.days) return;\n    const scheduledDays = cfg.days.map(x => dayMap[x]);\n    if (!scheduledDays.includes(dayOfWeek)) return;\n    const [hours, minutes] = (cfg.time || '09:00').split(':').map(Number);\n    const sched = new Date(date);\n    sched.setHours(hours, minutes, 0, 0);\n    const iso = sched.toISOString();\n    const platformName = platformKey.charAt(0).toUpperCase() + platformKey.slice(1);\n    const exists = existingPosts.some(p => p.platform === platformName && new Date(p.scheduledDate).getTime() === sched.getTime());\n    if (!exists) {\n      postsToGenerate.push({ platform: platformName, scheduledDate: iso, platformKey });\n    }\n  });\n}\n\nreturn { strategy: strategy, postsToGenerate };"
      },
      "id": "check-posts-needed",
      "name": "Check Posts Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1056, 256]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.postsToGenerate.length }}",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-posts-needed",
      "name": "If Posts Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1216, 256]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'No posts to generate', strategy: $json.strategy }) }}",
        "options": {}
      },
      "id": "respond-no-posts",
      "name": "Respond No Posts",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1424, 48]
    },
    {
      "parameters": {
        "fieldToSplitOut": "postsToGenerate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1440, 272],
      "id": "split-out",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare prompt for content generation\\nconst strategy = $('Check Posts Needed').first().json.strategy || {};\\nconst post = $input.item.json;\\nconst prompt = `Create engaging social media content for ${post.platform}.\\nStrategy Theme: ${strategy.theme}\\nContent Pillars: ${JSON.stringify(strategy.pillars)}\\nTopics: ${(strategy.topics||[]).join(', ')}\\nPlatform: ${post.platform}\\nScheduled Date: ${post.scheduledDate}\\nGenerate a compelling post that aligns with our content strategy. Include relevant hashtags and call-to-action.`;\\nreturn { prompt: prompt, platform: post.platform, scheduledDate: post.scheduledDate, strategyId: strategy._id || \"\" };"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 448],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nreturn {text: `test text for ` + $json.platform, imageurl: '{BACKEND_URL}/uploads/testimage.jpg'}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1968, 448],
      "id": "create-post-mock",
      "name": "Create post (mock)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const currentItem = $('Prepare Prompt').first().json\nconst inputresult = $json\n\ncurrentItem.text = inputresult.text;\ncurrentItem.imageurl = inputresult.imageurl;\ncurrentItem.status = 'new';\ndelete currentItem.prompt;\nreturn currentItem"
      },
      "id": "save-result-to-posts",
      "name": "Save result to posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1968, 16]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2144, 288],
      "id": "merge",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2288, 288],
      "id": "aggregate",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Add new post to the strategy and return updated strategy object\nconst strategy = $('Extract Strategy').first().json.strategy;\nconst newPosts = $input.first().json.data;\nif (!strategy.posts) strategy.posts = [];\n\nstrategy.posts = newPosts;\nreturn strategy;"
      },
      "id": "add-post",
      "name": "Add Post to Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2432, 288]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={BACKEND_URL}/api/strategies/{{ $json._id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{X-API-KEY}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "update-strategy",
      "name": "Update Strategy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2592, 288]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2752, 288]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 272],
      "id": "edit-fields",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Strategy by Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Strategy by Month": {
      "main": [
        [
          {
            "node": "If Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty": {
      "main": [
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Strategy": {
      "main": [
        [
          {
            "node": "Check Posts Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Posts Needed": {
      "main": [
        [
          {
            "node": "If Posts Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Posts Needed": {
      "main": [
        [
          {
            "node": "Respond No Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Create post (mock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post (mock)": {
      "main": [
        [
          {
            "node": "Save result to posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save result to posts": {
      "main": [[]]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Add Post to Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Post to Strategy": {
      "main": [
        [
          {
            "node": "Update Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Strategy": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "merged-1",
  "meta": {},
  "tags": []
}
