n8n-data/workflows/delete_post.json
{
  "name": "Delete Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-delete",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        0
      ],
      "webhookId": "delete-post"
    },
    {
      "parameters": {
        "url": "={BACKEND_URL}/api/strategies?filter={{ encodeURIComponent(JSON.stringify({ \"month\": $json.body.month })) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Webhook').item.json.headers.authorization }}"
            },
            {
              "name": "x-api-key",
              "value": "{X-API-KEY}"
            }
          ]
        },
        "options": {}
      },
      "id": "find-strategy",
      "name": "Find Strategy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Delete post from strategy posts array\nconst strategy = $input.item.json.items && $input.item.json.items[0] ? $input.item.json.items[0] : null;\nconst { postId } = $('Webhook').first().json.body;\n\nif (!strategy) throw new Error('Strategy not found');\n\n// Remove posts matching composite key platform-scheduledDate or matching _id\nlet preparedPosts = (strategy.posts || []).filter(p => {\n  const composite = (p.platform || '') + '-' + (p.scheduledDate || '');\n  return composite !== postId && p._id !== postId;\n});\n\nstrategy.posts = preparedPosts;\n\nreturn strategy;"
      },
      "id": "delete-post",
      "name": "Delete Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={BACKEND_URL}/api/strategies/{{ $json._id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Webhook').item.json.headers.authorization }}"
            },
            {
              "name": "x-api-key",
              "value": "{X-API-KEY}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ posts: $json.posts }) }}",
        "options": {}
      },
      "id": "save-strategy",
      "name": "Save Strategy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post deleted' }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Find Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Strategy": {
      "main": [
        [
          {
            "node": "Delete Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Post": {
      "main": [
        [
          {
            "node": "Save Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Strategy": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1",
  "meta": {},
  "id": "delete-post-workflow",
  "tags": []
}
